modules = ["nodejs-20"]
[workflows]
runButton = "Desarrollo Full Stack"

[[workflows.workflow]]
name = "Desarrollo Full Stack"
author = 41041564
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm run dev"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80
